$color-white: #FFFFFF;
$color-001: #FAE7E3;
$color-002: #F7DAD5;
$color-003: #F5CEC7;
$color-004: #E79796;
$color-005: #FFB284;
$color-006: #FFC98B;
$color-007: #C6C09C;
$color-008: #443E1D;

$font-001: "Antique olive";
$font-002: "Rage";