$color-white: #ffffff;
$color-001: #fae7e3;
$color-002: #f7dad5;
$color-003: #f5cec7;
$color-004: #e79796;
$color-005: #ffb284;
$color-006: #ffc98b;
$color-007: #c6c09c;
$color-008: #443e1d;

$font-001: "Antique olive";
$font-002: "Rage";
$font-003: "Montserrat";

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1700px;
