.experience {
  position: relative;
  .carrousel__wrapper {
    display: flex;
    margin: 240px auto 0;
    width: fit-content;

    .carousel-title {
      .carrousel {
        .green-btn {
          svg {
            path {
              fill: $color-007;
            }
          }

          &:hover {
            svg {
              path {
                fill: $color-005;
              }
            }
          }
        }
        &-integration {
          position: relative;

          > svg {
            position: absolute;
            bottom: 165px;
            right: 0;
            z-index: -1;
            height: 100%;
          }
        }
        &-maquette {
          position: relative;

          > svg {
            position: absolute;
            top: 289px;
            left: 0;
            z-index: -1;
            height: 100%;
          }
        }
      }
      h3 {
        margin: 61px auto 0;
        &.maquette-title {
          color: $color-004;
        }
      }
    }
  }
  > p {
    margin: 270px auto 317px;
    max-width: 50%;
    text-align: center;
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url("../images/cloud-medium.svg");
    background-repeat: no-repeat;
    top: 109%;
    right: 0;
    width: 323px;
    height: 328px;
  }
}

.show {
  .images {
    .image {
      position: relative;
      .overlay {
        display: none;
        position: absolute;
        inset: 0 0 0 0;
        background-color: rgba($color: $color-003, $alpha: 0.9);
        h6 {
          margin-top: 60px;
        }
        p {
          font-family: $font-003;
          @include rem(26);
          color: $color-white;
          font-weight: bold;
          margin: 50px auto 30px;
          max-width: 80%;
          text-align: center;
        }
        ul {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
          align-items: flex-start;
          align-self: flex-start;
          li {
            position: relative;
            font-family: $font-003;
            @include rem(26);
            font-weight: bold;
            color: $color-white;
            padding: 0 20px 0 120px;
            &::before {
              content: "";
              position: absolute;
              width: 17px;
              height: 17px;
              background-color: $color-white;
              border-radius: 25px;
              top: 6px;
              left: 90px;
            }
          }
        }
      }
      &:hover {
        .overlay {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
