.resume {
  background-image: url("../images/bg-resume.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 2560px;
  &__container {
    display: flex;
    position: relative;
    padding-top: 1141px;
    justify-content: space-between;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/cloud-big.svg");
      background-repeat: no-repeat;
      bottom: 87%;
      left: 0;
      width: 587px;
      height: 596px;
    }
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/cloud.svg");
      background-repeat: no-repeat;
      background-size: cover;
      top: 4%;
      left: 46%;
      width: 299px;
      height: 186px;
      transform: rotate(-5deg);
    }
    .resume-en-resume {
      position: relative;
      background-color: $color-white;
      border-radius: 0 100px 0 0;
      width: 970px;
      height: calc(1420px - 130px);
      object-fit: contain;
      padding: 130px 0 0 0;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 371px;
        background-color: $color-005;
      }
      &::after {
        content: "";
        position: absolute;
        background-image: url("../images/hill.svg");
        width: 805px;
        height: 425px;
        bottom: 0;
        left: 0;
      }

      h2 {
        z-index: 1;
      }
      .resume-ul {
        padding: 108px 0 0 199px;
        font-family: $font-002;
        @include rem(34);
        .resume-list {
          padding-bottom: 20px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            background-image: url("../images/bullet-flower.svg");
            top: 0px;
            left: -80px;
            width: 63px;
            height: 31px;
          }
          .ul-description {
            font-family: $font-001;
            @include rem(34);
            color: $color-004;
            padding: 0 0 0 calc(403px - 130px - 63px);
            .li-description:not(:last-child) {
              padding-bottom: 20px;
            }
            .full {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                background-image: url("../images/svg-cursor/cursor-full.svg");
                width: 163px;
                height: 30px;
                right: 150px;
              }
            }
            .almost {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                background-image: url("../images/svg-cursor/cursor-almost.svg");
                width: 163px;
                height: 30px;
                right: 150px;
              }
            }

            .quite {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                background-image: url("../images/svg-cursor/cursor-quite.svg");
                width: 163px;
                height: 30px;
                right: 150px;
              }
            }
          }
        }
      }
    }
    .resume-contact {
      position: relative;
      background-color: $color-white;
      border-radius: 100px 0 0 0;
      max-width: 781px;
      height: calc(695px - 60px);
      object-fit: contain;
      padding: 60px 98px 0 0;
      margin-top: 725px;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../images/bell-solid.svg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 81px;
        height: 93px;
        transform: rotate(-30deg);
        top: 40px;
        left: 40px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 371px;
        background-color: $color-005;
      }
      h2 {
        z-index: 1;
        color: $color-005;
        text-transform: none;
        position: relative;
        margin-left: 180px;
      }
      ul {
        padding: 83px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .li-contact {
          color: $color-003;
          text-align: end;
          padding-bottom: 20px;
          &:nth-child(1) {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              background-image: url("../images/svg-contact/phone-solid.svg");
              width: 32px;
              height: 32px;
              top: 0;
              right: 105%;
            }
          }
          &:nth-child(2) {
            max-width: 70%;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              background-image: url("../images/svg-contact/location-dot-solid.svg");
              width: 24px;
              height: 32px;
              top: 0;
              right: 101%;
            }
          }
          &:nth-child(3) {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              background-image: url("../images/svg-contact/envelope-solid.svg");
              width: 43px;
              height: 32px;
              top: 0;
              right: 103%;
            }
          }
          &:nth-child(4) {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              background-image: url("../images/svg-contact/github.svg");
              width: 32px;
              height: 32px;
              top: 0;
              right: 103%;
            }
          }
          &:nth-child(5) {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              background-image: url("../images/svg-contact/linkedin.svg");
              width: 32px;
              height: 32px;
              top: 0;
              right: 103%;
            }
          }
          a {
            color: $color-003;
            transition: color 0.4s ease-in-out;
            &:hover {
              color: $color-004;
            }
          }
        }
      }
    }
  }
}
