.sidebar {
  position: fixed;
  right: 0;
  z-index: 1;
  background-color: $color-004;
  width: 95px;
  height: 520px;
  border-radius: 50px 0 0 50px;
  display: flex;
  justify-content: center;

  ul {
    padding: 73px 0 73px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
